extends _root_

block append stylesheets
    link(id='theme-ss' rel='stylesheet', href='/css/colvis-light.css')

block append scripts
    script.
        var datasource = "#{params.datasource}";
        var chart_setup = "#{params.chart_setup}";
        var theme = "#{theme}";
    script(src='/scripts/loaders/colvis.js')

block append content
    div#header
    div#chart