extends _root_

block append content
	span.title= title
	ul.links
		li asdf

block append scripts
	script(src='scripts/test.js')

block append stylesheets
	link(rel='stylesheet', href='/css/index.css')

	
