extends _root_

block append stylesheets
	if (theme == "dark")
		link(rel='stylesheet', href='/css/chart-default-dark.css')
	else
		link(rel='stylesheet', href='/css/chart-default.css')
	link(rel='stylesheet', href='/css/chart-elements.css')

block append scripts
	script.
		var datasource = "#{params.neural_network}";
		var chart_setup = "#{params.training_set}";
		var theme = "#{theme}";
	script(src='/scripts/loaders/test_spmatrix.js')

block append content
	div#spmatrix
