#bt-head {
    padding: 10px;
    background: url(/img/wild_oliva.png);
}

#bt-chart {
    /*background: url(/img/quilt.png);*/
    background: url(/img/dark_mosaic.png);
}

#bt-table {
    margin: 0px;
    padding: 0px;
    background: #111;
}

#bt-stats {
    /*background: rgb(220, 220, 220);*/
    background: url(/img/dark_mosaic.png);
}

#bt-stats .title {
    font-size: 22px;
    font-weight: bold;
    color: #3186B1;
    margin: 10px 0px;
}

#stats-table {
    margin: 0px 0px 10px 0px;
}

canvas {
    /*background: rgba(32, 32, 32, .6);*/
    background: url(/img/inflicted.png);
}

.negval {
    color: #c20;
}

#bt-table .section {
    background: rgb(45, 71, 104);
    border-color: #48515A;
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 2px 8px;
    text-align: center;
}

.ui-layout-resizer {
    background: #323232;
    border: 1px solid black;
}

.ui-layout-toggler {
    border: 1px solid #333;
    background-color: #4975AC;
}