@font-face {
  font-family: "Asul";
  src: url("/fonts/Asul-Regular.ttf");
}
@font-face {
  font-family: "GloriaHallelujah";
  src: url("/fonts/GloriaHallelujah.ttf");
}
.title {
  font-size: 60px;
  font-family: 'Asul';
}
ul.links li {
  color: #888;
}
