.bg {
    stroke: black;
    fill: white;
}

.spmatrix .cell {
    fill: #eee;
    stroke: #ccc;
}

.spmatrix .axis .backing, .spmatrix .axis .tick {
    stroke: red;
    stroke-width: 1px;
}

.spmatrix .axis .y-label, .spmatrix .axis .x-label {
    fill: black;
    font-size: 12px;
    font-family: monospace;
    alignment-baseline: middle;
}

.spmatrix .axis .y-label {
    text-anchor: end;
}

.spmatrix .axis .x-label {
    text-anchor: start;
}

.spmatrix .axis .y-title, .spmatrix .axis .x-title {
    text-anchor: middle;
    fill: black;
    font-size: 12px;
    font-weight: bold;
    font-family: monospace;
}

.spmatrix circle.point {
    /*fill: #ccc;*/
    stroke: none;
}